langchain
langchain-openai
langchain-community
chromadb==0.5.4
pillow==10.3.0
python-dotenv==1.0.1
volcengine-python-sdk[ark]~=1.0.0
markdown==3.6
fastapi==0.110.0
uvicorn==0.30.0
pytest==8.2.0
numpy==1.26.4
aiohttp==3.12.14
pyyaml~=6.0

